/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto auto 1fr auto / 1fr 1fr 1fr; /* Equal width columns */
    font-size: 25px; /* Set global font size */
}

header {
    grid-column: 1 / 4;
    text-align: left; /* Align text to the left */
    background: rgba(72, 71, 71, 0.994);
    padding: 1rem;
    height: 125px;
    color: white;
}

header h1 {
    font-size: 25px; /* Set h1 font size to match global font size */
}

nav {
    background: black;
    padding: 1rem;
    grid-column: 1 / 4;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    flex-grow: 1;
}

.left-sidebar {
    background: lightgray;
    grid-column: 1 / 2;
    padding: 1rem; /* Add padding to the left sidebar */
}

main {
    background: lightgray;
    grid-column: 2 / 3;
}

.right-sidebar {
    background: white;
    grid-column: 3 / 4;
    padding: 1rem; /* Add padding to the right sidebar */
}

footer {
    background: rgba(72, 71, 71, 0.994);
    padding: 2rem; /* Adjust padding to increase height */
    text-align: center;
    grid-column: 1 / 4;
    height: 200px; /* Set a specific height */
    color: white;
}